<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="SiGMAEntities" connectionString="metadata=res://*/DER.csdl|res://*/DER.ssdl|res://*/DER.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=SiGMA;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /><add name="SiGMAEntities1" connectionString="metadata=res://*/DER1.csdl|res://*/DER1.ssdl|res://*/DER1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=SiGMA;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>